
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="alert alert-success" style="margin-top: 2%">
    <h3>Bienvenido nuevo usuari@@ a HealthCare</h3>

    <h3>En esta tienda online encontrarás todo lo que necesitas y mucho más !</h3>
    <h3>Ponemos a vuestra disposicion buenos profesionales dispuestos a ayudarte y a conseguir que te pongas mejor gracias a su experiencia y profesionalidad</h3>
    <h3>¿ Aun sigues leyendo ?</h3>
    <h3>Entra y conviertete en Healthy y disfruta de nuestros fantasticos productos</h3>
    <br />
    <div class="text-center">
        <a class="btn btn-success btn-lg" href="/Login/Index">Ya soy Healthy</a>
        <a class="btn btn-info btn-lg" href="/Login/Cuenta" style="margin-left: 40px">Quiero ser Healthy</a>
    </div>
    <br />
</div>

