<div class="panel panel-success">
    <div class="panel-heading">
        <h3>Gracias por su compra</h3>
    </div>
    <div class="panel-body">
        <p>Gracias por terminar su compra, las empresas encargadas de los productos solicitados se pondran en contacto con usted lo antes posible.</p>
        <br />
        <a href="/Productos/Listar" class="btn btn-success">Volver a la Tienda</a>
    </div>
</div>


